.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* new css */
nav {
  background-color: #333;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}



/* Toast styling */
.Toastify__toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.Toastify__toast {
  border-radius: 4px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  padding: 15px;
  margin-bottom: 10px;
}

.Toastify__toast--success {
  background-color: white;
  color: black;
}

.Toastify__toast--error {
  background-color: #f44336;
  color: #fff;
}

/* Logout toast styling */
.Toastify__toast--logout {
  background-color: #2196f3;
  color: #fff;
}

.Toastify__toast--logout .Toastify__toast-body {
  display: flex;
  align-items: center;
}

.Toastify__toast--logout svg {
  margin-right: 10px;
}